body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0; padding:0; border:0;
    height:100%;
}
#main{
    background-color:rgb(227, 232, 230);
    width:100%;
    height:140rem;
    margin:auto;
    padding:1rem;
    top:0;
    bottom:0;
}

@media screen and (max-width:1020px){
    #main{      
        height:170rem;   
    }
}
@media screen and (max-width:750px){
    #main{    
        height:190rem;   
    }
}

@media screen and (max-width:640px){
    #main{    
        height:210rem;   
    }
}
@media screen and (max-width:590px){
    #main{    
        height:260rem;   
    }
}
@media screen and (max-width:460px){
    #main{
        height:300rem;   
    }
}


#main h1{
    display:block;
    font-weight:700;
    font-size:3rem;
    line-height:4rem;
    left:0;
    right:0;
    text-align:center;
}
#main p{
    display:block;
    font-weight:400;
    font-size:1.2rem;
    line-height:1.5rem;
    left:0;
    right:0;
    text-align:center;
    
}
#content{
    display:block;
    background-color:white;
    padding:1rem;
    margin:0.5rem;
    border-color:white;
    border-radius:0.5rem;
    
}
#content img{
    width:60%;
    display:block;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    
}
#content p{
    font-weight:400;
    font-size:1rem;
    margin:auto;
    line-height:1.2rem;
    padding-top:0.2rem;
}
#tasks{
    
}
#tasks p{
    display:block;
    font-weight:700;
    font-size:1.3rem;
    line-height:2rem;
    left:0;
    right:0;
    text-align:center;
}
#tasks ul {
    width:30%;
    margin:0 auto;
    font-weight:350;
    font-size:1rem;
}
#tasks li{
    padding:1rem;
}
#tasks > #quote{
    text-decoration:none;
    font-weight:300;
    font-size:1.2rem;
    width:30%;
    margin:auto;
    padding:none;
    line-height:1.2rem;
    margin-top:2rem;
}
